body {
  background:#0b1220;
  color:white;
  text-align:center;
  font-family:sans-serif;
}

.section {
  margin:20px;
}

button {
  margin:5px;
  padding:10px;
  border-radius:10px;
  border:none;
  background:#1f2937;
  color:white;
}

input[type="range"] {
  width:200px;
}
